.slidecontainer {
  width: 100%;
}

.slider {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 100%;
  max-width: 100%;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .slider {
    overflow: hidden;
    height: 20px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
}

.slider::-webkit-slider-runnable-track {
  overflow: hidden;
  height: 20px;
  -webkit-appearance: none;
  background-color: #f2f3f5;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  -webkit-appearance: none;
  height: 20px;
  cursor: ew-resize;
  background: #fff;
  box-shadow: -500px 0 0 490px #007be8, inset 0 0 0 40px #fff;
  border-radius: 50%;
  border: solid 3px #007be8;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
}

.box-investisseur {
  padding: 10px 0;
}

.border-investisseur {
  border-top: 1px solid #c8c9ca;
}

.padding-investisseur {
  padding-bottom: 5px;
}

.type-alt-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}

.pad-top-invest {
  padding-top: 10px;
}

.type-alt-slider input {
  padding: 0;
  border: none;
  font-size: 14px;
  font-family: "Courrier", sans-serif;
  color: #333;
  width: 65px;
  /* margin-right: 5px; */
  text-align: right;
  font-weight: bold;
  color: #007be8;
  /* border-bottom: 1px solid #007be8; */
  padding-bottom: 5px;
}

.border-input {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted #007be8;
}

.type-alt-slider input:focus {
  outline: none;
}

.type-alt-slider i {
  color: #007be8;
  font-weight: bold;
  margin-left: 10px;
  cursor: pointer;
  padding-bottom: 8px;
}
