/* general styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courrier", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f2f3f5;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}

h4 {
  font-weight: 550;
  line-height: 1.5;
  color: #333;
}

p {
  text-align: justify;
}

img {
  width: 100%;
}

/* spacing */
.pdg-20 {
  padding: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

/* width */
.w-15 {
  width: 15%;
}

.w-35 {
  width: 35%;
}

.w-75 {
  width: 75%;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.w-100 {
  width: 100%;
}

/* font */
.fs-12 {
  font-size: 12px;
  color: #333;
}

.bold {
  font-weight: bold;
}

.color-blue {
  color: #007be8;
}

.orange {
  color: rgb(255, 127, 22);
}

/* flex display */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fs {
  justify-content: flex-start;
}

.jc-fc {
  justify-content: center;
}

.jc-fe {
  justify-content: flex-end;
}

.ai-fe {
  align-items: flex-end;
}

.ai-fs {
  align-items: flex-start;
}

.ai-fc {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

/* boutton */
.button {
  color: white;
  cursor: pointer;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #2e2d2d;
  font-weight: bold;
  margin-top: 15px;
  opacity: 0.85;
}

/* Navbar */
.landing-nav {
  display: flex;
  align-items: center; /* vertically */
  justify-content: space-between; /* horizontally */
  background: #007be8;
  color: #fff;
  height: 70px;
  width: 100%;
  padding: 0 100px; /* create space on left and right */
  position: sticky;
  left: 0;
  top: 0;
  z-index: 20;
}

.landing-nav h1 {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}

.landing-nav ul {
  display: flex;
}

.landing-nav .link {
  text-align: center;
  padding: 15px 20px;
  color: #fff;
  cursor: pointer;
}

.landing-nav .link:hover {
  border-bottom: #fff solid 2px;
}

/* authentication */
.authentication {
  position: absolute;
  top: 0;
  right: 0;
}

.auth-header {
  display: flex;
}

.sign-up {
  display: flex;
  flex-direction: column;
}

/* text box */
.form-container {
  display: flex;
  flex-direction: row;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-box-h {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.form-box-h i {
  color: rgb(226, 221, 221);
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.form-box-h-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.form-box-h-2 {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.apport {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-box-h-2 i {
  color: rgb(226, 221, 221);
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.form-box-h-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.form-box-h-4 {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.form-box-h-4 i {
  color: rgb(226, 221, 221);
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.form-box-v {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.form-box-v-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.horizontal-input {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-box-v label,
.form-box-h label,
.form-box-h-1 label,
.form-box-h-2 label,
.form-box-h-4 label {
  font-size: 12px;
  text-align: justify;
}

.form-box-v small,
.form-box-h small,
.form-box-h-2 small {
  font-size: 10px;
}

.form-box-h {
  font-size: 12px;
}

.input-box-false {
  height: 30px;
  width: 60%;
  border-radius: 5px;
  outline: none;
  border: 0.5px solid orange;
  /* box-shadow: 1px 0.5px orange; */
  background-color: #fff;
}

.input-box {
  height: 30px;
  width: 60%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
}

.input-box-2 {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cacaca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
}

.input-box-3 {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cacaca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fff;
}

.augmentation {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cacaca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.invest-rev {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.par-fisc {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 20px;
  background-color: #fff;
}

.par-fisc label {
  font-size: 12px;
}

.p-par-fisc {
  width: 70%;
  font-size: 12px;
}

.p-par-fisc a {
  font-weight: bold;
  color: #007be8;
}

.regime-responsive {
  display: flex;
  align-items: flex-start;
}

.regime-responsive label {
  width: 50%;
}

.regime-responsive-items {
  width: 50%;
  margin-right: 10px;
}

.irl {
  margin-left: 20px;
  width: 45%;
}

.irl label {
  font-size: 12px;
}

.p-irl {
  width: 50%;
  font-size: 12px;
}

/* remove arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-header {
  color: #007be8;
  margin-top: 20px;
}

.header-i {
  background: #007be8;
  padding: 10px;
  color: #fff;
  border-radius: 50%;
}

.kpi-i {
  background: #b9b7b7;
  padding: 5px;
  color: #fff;
  border-radius: 50%;
}

.side-column {
  width: 40%;
  height: 65vh;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding: 10px 0;
}

.side-column h3 {
  color: #007be8;
}

.side-column-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 20px;
  height: 65vh;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.kpi-item {
  margin: 2.5px 0;
}

.kpi-item h4 {
  font-size: 2.2vh;
}

/* side navbar */
.side-column-nav {
  width: 30%;
  height: 52vh;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  padding: 10px 0;
}

.side-column-nav h3 {
  color: #007be8;
}

.side-column-box-nav {
  height: 52vh;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  background-color: #fff;
  border-radius: 10px;
}

.radius-top {
  border-radius: 10px 10px 0 0;
}

.radius-bottom {
  border-radius: 0 0 10px 10px;
}

.nav-link {
  height: 100%;
  width: 100%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  color: #333;
}

.side-nav-text {
  font-weight: 550;
  line-height: 1.5;
  color: #333;
  font-size: 2.2vh;
}

.border-bottom {
  border-bottom: 1px solid #fff;
}

/* mobile KPI */
.indicateurs-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
  z-index: 200000000;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #fff;
  padding: 15px 30px 30px 30px;
  overflow: auto;
}

.indicateurs-mobile-button {
  position: fixed;
  top: 80;
  right: 30px;
  z-index: 10000000;
  color: #007be8;
  /* background-color: #007be8;
  width: 100%; */
}

.indicateurs-mobile-button:focus {
  outline: none;
}

/* modelisation button */
.button-model-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #01c96c;
  z-index: 1000000000;
}

.button-model-mobile button {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: #01c96c;
  margin-right: 10px;
}

.button-model-mobile button:focus {
  outline: none;
}

.button-model-mobile i {
  color: #fff;
}

/* .button-model-mobile-off {
  display: none;
} */

.button-model {
  margin-top: 3vh;
  height: 10vh;
  width: 100%;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #c8c9ca;
  box-shadow: 0.5px 0.5px #c8c9ca;
  border-radius: 10px;
  background-color: #01c96c;
  font-weight: bold;
  font-size: 16px;
}

.button-model-mobile-on:focus {
  outline: none;
}

.header-i-2 {
  background: #007be8;
  padding: 6px;
  color: #fff;
}

.button-model:focus {
  outline: none;
}

/* footer */
.footer {
  background: #007be8;
  color: #fff;
  margin-top: 20px;
  height: 50px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.footer h4 {
  font-weight: bold;
  margin-left: 20px;
  color: #fff;
}

.footer-email {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.footer-email h4 {
  font-weight: bold;
  margin-right: 5px;
  color: #fff;
}

.footer-email input {
  border-radius: 5px;
  height: 30px;
  border: none;
  width: 300px;
}

.footer-email input:focus {
  outline: none;
}

input[type="email"] {
  padding: 12px 10px;
  color: #333;
  /* font-family: "Quicksand", sans-serif; */
}

input[type="number"] {
  padding: 12px 10px;
  color: #333;
  /* font-family: "Quicksand", sans-serif; */
}

.footer-email button {
  height: 100%;
  background-color: #01c96c;
  border: none;
  padding: 0 8px;
  height: 30px;
  border-radius: 5px;
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.footer-email button:focus {
  outline: none;
}

.email-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  filter: blur(0);
  transform: scale(1);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100vh - 120px);
  z-index: 20000;
}

.modal-none {
  display: none;
}

.modal-input {
  margin: auto;
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0.5px 0.5px #030303;
  text-align: justify;
  font-size: 14px;
}

.modal-input li {
  padding: 10px 0;
  display: flex;
}

.modal-input li p {
  margin-left: 10px;
}

.modal-input h4 {
  padding: 10px 0;
}

.container-email {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.container-email input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: rgb(170, 169, 169) solid 1px;
}

.container-email input:focus {
  outline: none;
}

input[type="email"] {
  padding: 12px 10px;
  color: #333;
  /* font-family: "Quicksand", sans-serif; */
}

.container-email button {
  background-color: #01c96c;
  border: none;
  padding: 0 15px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 770px) and (max-width: 1000px) {
  .indicateurs-mobile {
    height: calc(100vh - 120px);
  }
}

.indicateurs-mobile h3 {
  margin-bottom: 20px;
}

.indicateurs-mobile button {
  background-color: #666565;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}

.indicateurs-mobile button:focus {
  outline: none;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10000;
  height: 450px;
}

.mobile-title {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 70px;
  left: 0;
  color: #007be8;
  background-color: #f2f3f5;
  z-index: 10000;
}

.mobile-title h3 {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 20px;
}

.mobile-nav-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-nav-button {
  position: fixed;
  top: 85px;
  right: 25px;
  z-index: 1000000;
}

.mobile-nav-button i {
  color: #007be8;
}

.mobile-nav-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.mobile-nav-link {
  height: 100%;
  width: 100%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #fff;
  color: #333;
}

.section-complete {
  color: #007be8;
  padding-left: 90px;
}

.section-uncomplete {
  color: #333;
  padding-left: 90px;
}

.mobile-nav-dummie {
  background-color: transparent;
  color: #fff;
  padding-right: 90px;
}

.mobile-side-nav-text {
  font-weight: 550;
  line-height: 1.5;
  color: #333;
  font-size: 18px;
}

.mobile-kpi-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #007be8;
}

.mobile-kpi-button button {
  background-color: #007be8;
  border: none;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
  color: white;
}

.mobile-kpi-button i {
  color: #fff;
}

.mobile-kpi-button button:focus {
  outline: none;
}

.pagination-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.pagination-mobile button {
  width: 120px;
  padding: 5px 0;
  border-radius: 20px;
  border: 1px solid #c8c9ca;
  box-shadow: 1px 1px #c8c9ca;
  background-color: #fff;
  font-size: 12px;
  color: #333;
}

.info-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info-button-foyer {
  padding-bottom: 10px;
}

.info-button button {
  background: none;
  outline: none;
}

.info-button i {
  color: rgb(226, 221, 221);
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.info-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
  filter: blur(0);
  transform: scale(1);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100vh - 120px);
  z-index: 20000000000000;
}

.info-modal-header {
  display: flex;
  justify-content: space-between;
  background-color: #007be8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
}

.info-modal-header button {
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: #007be8;
  border-radius: 50%;
}

.info-modal-container {
  margin: auto;
  background-color: #fff;
  width: 500px;
  border-radius: 10px;
  text-align: justify;
  font-size: 14px;
}

.info-modal-content {
  padding: 5px 20px;
  max-height: 400px;
  overflow: auto;
}

.info-modal-content p {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.info-modal-content a {
  color: #007be8;
  font-weight: bold;
}

.transparent {
  opacity: 1;
}

.display-model {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 30px;
  width: 100%;
  height: 100vh;
  z-index: 20000000000000000000;
}

@media screen and (max-width: 770px) {
  .landing-nav {
    display: flex;
    align-items: center; /* vertically */
    justify-content: space-between; /* horizontally */
    height: 70px;
    width: 100%;
    padding-left: 20px; /* create space on left and right */
  }
  .form-container {
    padding: 0 20px;
    padding-top: 70px;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
  }
  .form-header {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .form-header i {
    display: none;
  }
  .form-box-h-2 {
    height: 100%;
  }
  .form-box-h {
    margin-left: 0;
    margin-right: 0;
  }
  .form-box-h-3 {
    flex-direction: column;
  }
  .form-box-v {
    margin-left: 0;
    margin-right: 0;
  }
  .par-fisc {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
  .par-fisc label {
    width: 50%;
  }
  .input-box-3 {
    width: 50%;
  }
  .augmentation {
    width: 20%;
  }
  .p-par-fisc {
    width: 100%;
  }
  .regime-responsive {
    flex-direction: column-reverse;
  }
  .regime-responsive label {
    width: 100%;
  }
  .regime-responsive-items {
    width: 100%;
  }
  .irl {
    width: 100%;
    margin: 0;
  }
  .p-irl {
    width: 100%;
  }
  .footer {
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  .footer h4 {
    display: none;
  }
  .footer input {
    margin: 5px 0 10px 0;
  }
  .footer-email {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
  }
  .modal-info {
    overflow: auto;
  }
  .email-modal {
    overflow: auto;
    height: calc(100vh - 70px);
  }
  .modal-input {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    text-align: justify;
    font-size: 14px;
    border-radius: 0;
    margin-top: 0;
    z-index: 100000000;
  }
  .info-modal {
    height: calc(100vh - 70px);
  }
  .info-modal-container {
    width: 90%;
  }
  .info-modal-content {
    overflow: auto;
    max-height: 60vh;
  }
}
